@model IEnumerable<Data.Models.ViewModels.BillView>
@using System.Globalization;
@{
    decimal TongTien = 0;
    float GiamGia = 0; ;
    Decimal PhaiTra;
}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá bán</th>
            <th scope="col">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            decimal ThanhTien = @t.Quantity * @t.Price;
            GiamGia = t.GiaTriVoucher;
            TongTien += ThanhTien;
            <tr class="table-danger">
                <th scope="row">@t.MaProductDetail</th>
                <td>@t.Quantity</td>
                <td>@t.Price</td>
                <td>@ThanhTien</td>
            </tr>
        }


    </tbody>
</table>
<div class="row">
    <div class="col-lg-4 col-xl-3">
        <div class="d-flex justify-content-between" style="font-weight: 500;">
            <p class="mb-2">Tổng tiền</p>
            <p class="mb-2">$@TongTien.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))</p>
        </div>

        <div class="d-flex justify-content-between" style="font-weight: 500;">
            <p class="mb-0">Giảm giá</p>
            <p class="mb-0">$@GiamGia</p>
        </div>

        <hr class="my-4">
        @{
            PhaiTra = @TongTien - Convert.ToDecimal(@GiamGia);
        }
        <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
            <p class="mb-2">Tổng</p>
            <p class="mb-2">$@PhaiTra.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))</p>
        </div>
    </div>

